onramp:
  - id: blaster
    type: blaster
    config:
      source: /data/data.json.xz
      interval: 4000000 # 250 events/s
    codec: json
  - id: kafka-in
    type: kafka
    codec: json
    config:
      brokers:
        - kafka:9092
      topics:
        - info
        - error
      group_id: demo

offramp:
  - id: kafka-error
    type: kafka
    config:
      brokers:
        - kafka:9092
      topic: error
  - id: kafka-info
    type: kafka
    config:
      brokers:
        - kafka:9092
      topic: info
  - id: debug
    type: debug
  - id: elastic
    type: elastic
    config:
      nodes:
        - http://elastic:9200
  - id: influxdb
    type: rest
    codec: influx
    config:
      endpoint:
        host: influx
        port: 8086
        path: /write
        query: db=tremor
      headers:
        "Client": "Tremor"

binding:
  - id: loadgen-info
    links:
      "/onramp/blaster/{instance}/out": ["/pipeline/loadgen-info/{instance}/in"]
      "/pipeline/loadgen-info/{instance}/out":
        ["/offramp/kafka-info/{instance}/in"]
  - id: loadgen-error
    links:
      "/onramp/blaster/{instance}/out":
        ["/pipeline/loadgen-error/{instance}/in"]
      "/pipeline/loadgen-error/{instance}/out":
        ["/offramp/kafka-error/{instance}/in"]
  - id: demo
    links:
      "/onramp/kafka-in/{instance}/out": ["/pipeline/demo/{instance}/in"]
      "/pipeline/demo/{instance}/out": ["/offramp/elastic/{instance}/in"]
  - id: metrics
    links:
      "/pipeline/system::metrics/system/out": ["/pipeline/enrich/system/in"]
      "/pipeline/enrich/system/out":
        ["/offramp/influxdb/system/in", "/offramp/system::stdout/system/in"]

mapping:
  /binding/loadgen-info/loadgen:
    instance: "loadgen"
  /binding/loadgen-error/loadgen:
    instance: "loadgen"
  /binding/demo/demo:
    instance: "demo"
  /binding/metrics/system: {}
