.DS_Store
/target*
*/target*
**/*.rs.bk
/window/target*
/property_testing/target
local-examples
.#*
secrets
log
*~
config.yaml.out
log.txt
exp.json
exp.json.jq
gen.json
gen.json.jq
integration_testing/property/drop_copy.test/drop_in
html
flamegraph.svg
out.stacks
coyote.html
static/openapi.json
__pycache__
tremor-script/_build
tremor-script/c_src/*.o
tremor-script/priv
**/*.gcda
**/*.gcno
*.swp
.*.swp
target.vsc
ccov.zip
grcov
cobertura.xml
coverage.html
temp/
perf.data*
**/*.docx
.gitconfig
logger-*
tremor.log
docs
/packaging/out/
report.txt
report.json
/tags
lcov.info
tremor-value/proptest-regressions/
