[package]
name = "tremor-runtime"
version = "0.8.1"
description = "Tremor Runtime"
authors = ["The Tremor Team"]
edition = "2018"
license = "Apache-2.0"

[workspace]

members = [
    "tremor-api",
    "tremor-influx",
    "tremor-pipeline",
    "tremor-query",
    "tremor-script",
    "tremor-server",
    "tremor-tool",
]

[profile.release]
debug = true
lto = true
opt-level = 3

[dependencies]
async-std = {version = "1.5", features = ["unstable"]}
async-trait = "0.1"
base64 = "0.12"
bytes = "0.5"
byteorder = "1"
chrono = "0.4"
elastic = "0.21.0-pre.5"
error-chain="0.12"
futures = "0.3"
hashbrown = { version = "0.7", features = ["serde"] }
hostname = "0.3"
log4rs = "0.11"
mio = {version = "0.7", features = ["udp", "tcp", "os-poll"]}
rand = "0.7"
regex = "1.3"
rental = "0.5"
surf = "=2.0.0-alpha.1"
http-types = "1.2"
rmp-serde = "0.14"
serde = "1"
serde_yaml = "0.8"
simd-json = {version = "0.3", features = ["known-key"]}
threadpool = "1"
tremor-pipeline = { path = "tremor-pipeline" }
url = "2.1"
async-tungstenite = { version = "0.4.2", features = ["async-std-runtime"] }


log = "0.4"
serde_derive = "1"
lazy_static = "1"
halfbrown = "0.1"
libflate = "0.1"
snap = "1"
lz4 = "1.23.1"
# will be in new graph
tremor-script = { path = "tremor-script" }
tremor-influx = { path = "tremor-influx" }
indexmap = { version = "1", features = [ "serde-1" ] }

crossbeam-channel = "0.4"

memmap = { version = "0.7.0" }
tempfile = { version = "3.1" }

# blaster / blackhole
xz2 = "0.1"
hdrhistogram = "7"

# postgres
postgres = { version = "0.17.2", features = ["with-serde_json-1", "with-chrono-0_4"] }
postgres-protocol = "0.5" 
tokio-postgres = "0.5"

# kafka. cmake is the encouraged way to build this and also the one that works on windows.
rdkafka = { version = "0.23", features = ["cmake-build"] }

# crononome
cron = "0.6.0"

#Google cloud stuff
google-storage1 = { version = "1", optional = true }
google-pubsub1 = { version = "1", optional = true }
hyper-rustls = { version = "0.20", optional = true } # chan't update this because of google
yup-oauth2 = { version = "4", optional = true } # can't update this because of google

hyper = { version = "0.13", optional = true }  # chan't update this because of google

# logstash grok patterns
grok = "1"

[dependencies.tungstenite]
version = "0.10"
default-features = false


[dev-dependencies]
matches = "0.1"
# criterion = "0.2"
pretty_assertions = "0.6.1"
regex = "1"
env_logger = "0.7"

[features]
default = []

# Experimental suport for google cloud APIs
gpc = [ "google-storage1", "google-pubsub1", "hyper-rustls", "yup-oauth2", "hyper" ]

[patch.crates-io]
# sourcing from git to get the fix in https://github.com/fede1024/rust-rdkafka/pull/259
# remove once version 0.24 is released
rdkafka = { git = "https://github.com/fede1024/rust-rdkafka", rev = "a73bbae27361073e9370a4c9b8d5029313d1e9e2", features = ["cmake-build"] }
