[package]
authors = ["The Tremor Team"]
build = "build.rs"
description = "Tremor Runtime"
documentation = "https://docs.tremor.rs"
edition = "2021"
homepage = "https://www.tremor.rs"
license = "Apache-2.0"
name = "tremor-runtime"
readme = "README.md"
repository = "https://github.com/tremor-rs/tremor-runtime"
version = "0.13.0-rc.9"
rust-version = "1.62"

[workspace]

members = [
  "tremor-api",
  "tremor-cli",
  "tremor-common",
  "tremor-influx",
  "tremor-pipeline",
  "tremor-script",
  "tremor-script-nif",
  "tremor-value",
]

[profile.release]
debug = true
lto = "thin"
opt-level = 3

[dependencies]
anyhow = "1"
async-broadcast = "0.4"
async-compat = "0.2"
async-compression = { version = "0.3", features = [
  "xz",
  "futures-io",
  "stream",
] }
async-std = { version = "1.12.0", features = [
  "unstable",
  "attributes",
  "tokio1",
] }
async-stream = "0.3"
async-trait = "0.1"
base64 = "0.13"
beef = { version = "0.5", features = ["impl_serde"] }
bimap = { version = "0.6", features = ["serde"] }
byteorder = "1"
bytes = "1.3"
chrono = "0.4"
# we have a dep on chrono-tz 0.8 in tremor-script
# clickhouse-rs needs an upgrade to its chrono-tz dependency...
clickhouse-chrono-tz = { version = "0.6", package = "chrono-tz" }

# Once a new version of clickhouse-rs is released, we can stop using a git
# repository as a dependency. The declaration can then be replaced with the
# following:
#
# clickhouse-rs = { version = "...", default-features = false, features = [
#   "async_std",
# ] }
#
# Releases can be tracked at [1].
#
# [1]: https://crates.io/crates/clickhouse-rs/versions
clickhouse-rs = { git = "https://github.com/suharev7/clickhouse-rs", rev = "553f3aa", default-features = false, features = [
  "async_std",
] }
csv = "1.1"
dashmap = "5.4"
either = { version = "1.8", features = ["serde"] }
error-chain = "0.12"
file-mode = "0.1"
futures = "0.3.25"
event-listener = "2.5"
glob = "0.3"
halfbrown = "0.1"
hashbrown = { version = "0.13", features = ["serde"] }
hex = "0.4"
hostname = "0.3"
http-types = "2.12"
http-body = "0.4"
indexmap = { version = "1", features = ["serde-1"] }
lazy_static = "1"
libflate = "1.2"
log = { version = "0.4", features = ["kv_unstable"] }
lz4 = "1.24.0"
memchr = "2.5"
pin-project-lite = "0.2"
rand = "0.8.5"
regex = "1.7"
rmp-serde = "1.1"
serde = "1"
serde_derive = "1"
serde_yaml = "0.9"
simd-json = { version = "0.7", features = ["known-key"] }
simd-json-derive = "0.7"
snap = "1"
socket2 = "0.4"
syslog_loose = "0.18"
tremor-common = { path = "tremor-common" }
tremor-influx = { path = "tremor-influx" }
tremor-pipeline = { path = "tremor-pipeline" }
tremor-script = { path = "tremor-script" }
tremor-value = { path = "tremor-value" }
url = "2.3"
value-trait = "0.5"
zstd = "0.12"

# blaster / blackhole
hdrhistogram = "7"
xz2 = "0.1"

# postgres
#postgres = { version = "0.19", features = [
#  "with-serde_json-1",
#  "with-chrono-0_4",
#] }
#postgres-protocol = "0.6"
#tokio-postgres = "0.7"

# amqp
#lapin = { version = "2.1.0", default-features = false, features = [
#  "rustls",
#  "rustls-native-certs",
#] }

# http_client
surf = { version = "=2.3.2", default-features = false, features = [
  "h1-client-rustls",  # this will stop us from doing http2 :(
  "encoding",          # this was a default feature, so we keep it
  "middleware-logger", # default feature, so we keep it
] }
# We use our fork until: https://github.com/http-rs/http-client/pull/100 is merged
http-client = { git = "https://github.com/tremor-rs/http-client", rev = "059b23e", default-features = false, features = [
  "h1_client",
  "rustls",
] }
#http-client = { version = "6.5", default-features = false, features = [
#  "h1_client",
#  "rustls",
#] }

# elasticsearch
elasticsearch = { version = "=8.5.0-alpha.1", default-features = false, features = [
  "rustls-tls",
] }

# ws
async-tungstenite = { version = "0.18.0", features = [
  "async-std-runtime",
  "async-tls",
] }

# for tcp & ws
async-tls = "0.11"
rustls = "0.19"
rustls-native-certs = "0.6"

# dns
async-std-resolver = "0.22"

# kafka. cmake is the encouraged way to build this and also the one that works on windows/with musl.
# we stick with git until we have a release with https://github.com/fede1024/rust-rdkafka/pull/417
#rdkafka = { version = "0.28", features = [
rdkafka = { git = "https://github.com/fede1024/rust-rdkafka", rev = "7a2355f03c9aee8d4544e89bc4b0b0b6b96826e0", features = [
  "cmake-build",
  "libz-static",
], default-features = false }
# rdkafka-sys = { version = "4.2.0", features = [
rdkafka-sys = { git = "https://github.com/fede1024/rust-rdkafka", rev = "7a2355f03c9aee8d4544e89bc4b0b0b6b96826e0", features = [
  "cmake-build",
  "libz-static",
], default-features = false } # tracking the version rdkafka depends on
smol = "1.3.0"

# crononome
cron = "0.12.0"

# logstash grok patterns
grok = "2"

# rest onramp
tide = { version = "0.16", default-features = false, features = [
  "h1-server",
] } # no logger, no session, no cookies
tide-rustls = "0.3"

# sse-onramp
#surf-sse = { git = "https://github.com/dak-x/surf-sse", tag = "2.0", default-features = false }

# nats
#async-nats = "0.10.1"

# discord
serenity = { version = "0.11", default-features = false, features = [
  "client",
  "gateway",
  "rustls_backend",
  "model",
  "cache",
] }

# kv
sled = "0.34"

# opentelemetry
port_scanner = "0.1.5"
tonic = { version = "0.6.1", default-features = false, features = [
  "transport",
  "tls",
] }
prost = "0.9.0"
prost-types = "0.9.0"
# This is related to https://github.com/tremor-rs/tremor-runtime/issues/1688 the otel API's need to
# be updated together with tonic
tremor-otelapis = { version = "=0.2.4" }

# aws-s3
aws-sdk-s3 = "0.21"
aws-types = "0.51"
aws-config = "0.51"
aws-smithy-http = "0.51"

# gcp
googapis = { version = "0.6", default-features = false, features = [
  "google-pubsub-v1",
  "google-cloud-bigquery-storage-v1",
  "google-logging-v2",
  "google-storage-v2",
] }
gouth = { version = "0.2" }
http = "0.2.8"
reqwest = { version = "0.11.13", default-features = false, features = [
  "rustls-tls",
  "rustls-tls-native-roots",
] }

# http
uuid = { version = "1.2", features = ["v4"] }

# wal
qwal = { git = "https://github.com/tremor-rs/qwal" }
itoa = "1"
ryu = "1"
lexical = "6.1.1"
simdutf8 = "0.1"

[dev-dependencies]
serial_test = { version = "0.9", features = ["logging"] }
# path = "../serial_test/serial_test" 
env_logger = "0.10.0"
matches = "0.1"
pretty_assertions = "1.3.0"
proptest = "1.0"
regex = "1"
# We downgraded to 0.6 because:
# in the face of high concurrency serial_test 0.7.0 panics after 60 seconds
signal-hook = "0.3"
signal-hook-async-std = "0.2"
tempfile = { version = "3.2" }
test-case = "2.2"
testcontainers = { version = "0.14", features = ["watchdog"] }
num_cpus = "*"


[features]
default = []

# support for 128bit numbers in tremor-value
128bit = ["tremor-value/128bit"]
bert = ["tremor-pipeline/bert"]

integration = ["integration-docker", "integration-local"]
integration-docker = [
  "es-integration",
  "s3-integration",
  "kafka-integration",
  "gcp-integration",
  "clickhouse-integration",
]
integration-local = [
  "ws-integration",
  "http-integration",
  "file-integration",
  "crononome-integration",
  "metronome-integration",
  "socket-integration",
  "net-integration",
  "wal-integration",
]
gcp-integration = []
es-integration = []
s3-integration = []
kafka-integration = []
ws-integration = []
http-integration = []
file-integration = []
crononome-integration = []
metronome-integration = []
socket-integration = []
net-integration = []
wal-integration = []
clickhouse-integration = []
tarpaulin-exclude = []
# those are falky tests
flaky-test = []

# for use during debian packaging, via cargo-deb
# https://github.com/mmstick/cargo-deb#packagemetadatadeb-options
[package.metadata.deb]
name = "tremor"
section = "net"
# keep this in sync with the rpm dependencies (in rpm spec file)
assets = [
  [
    "target/release/tremor",
    "/usr/bin/",
    "755",
  ],
  [
    "README.md",
    "/usr/share/doc/tremor/",
    "644",
  ],
  [
    "LICENSE",
    "/usr/share/doc/tremor/",
    "644",
  ],
  [
    "packaging/distribution/etc/tremor/*",
    "/etc/tremor/",
    "644",
  ],
  [
    "packaging/distribution/etc/tremor/config/*",
    "/etc/tremor/config/",
    "644",
  ],
  [
    "packaging/distribution/usr/share/tremor/tremor.sh",
    "/usr/share/tremor/",
    "755",
  ],
  [
    "tremor-script/lib/**/*",
    "/usr/share/tremor/lib",
    "644",
  ],
  [
    "packaging/distribution/etc/systemd/system/*",
    "/lib/systemd/system/",
    "644",
  ],
] # copying systemd service to standard location for debian packages
conf-files = [
  "/etc/tremor/logger.yaml",
] # these files won't be overwritten when the package is upgraded
depends = "libc6 (>= 2.17), libstdc++6, libatomic1"
maintainer-scripts = "packaging/distribution/debian/maintainer-scripts/"
# TODO generate this automatically as part of deb packaging (from README intro)
# and place in "extended-description-file"
extended-description = """\
Tremor is an early stage event processing system for unstructured data with rich support for structural pattern matching, filtering and transformation.
"""

# for use during rpm packaging, via cargo-rpm
# https://github.com/iqlusioninc/cargo-rpm
[package.metadata.rpm]
package = "tremor"
[package.metadata.rpm.cargo]
# useful when using cargo rpm itself to build the project (i.e. without the
# --no-cargo-build flag from `cargo rpm build`)
buildflags = ["--release"]
profile = "release"
[package.metadata.rpm.targets]
tremor = { path = "/usr/bin/tremor" }
# The LHS paths here are relative to the rpm config dir (.rpm at project root).
# If you add new files here, please make sure to add them to %files section in
# the rpm spec file (inside .rpm) -- otherwise the rpm packaging will fail.
[package.metadata.rpm.files]
"../LICENSE" = { path = "/usr/share/licenses/tremor/LICENSE" }
"../README.md" = { path = "/usr/share/doc/tremor/README.md" }
"../packaging/distribution/etc/tremor/" = { path = "/etc/tremor/" }
# TODO enable this after some example cleanup
#"../demo/examples/" = { path = "/etc/tremor/config/examples/" }
"../packaging/distribution/usr/share/tremor/tremor.sh" = { path = "/usr/share/tremor/tremor.sh", mode = "755" }
"../tremor-script/lib/" = { path = "/usr/share/tremor/lib/" }
# copying systemd service to standard location for rpm packages
"../packaging/distribution/etc/systemd/system/tremor.service" = { path = "/usr/lib/systemd/system/tremor.service" }
