[package]
name = "tremor-runtime"
version = "0.7.3"
description = "Tremor Runtime"
authors = ["The Tremor Team"]
edition = "2018"
license = "Apache-2.0"

[workspace]

members = [
    "tremor-api",
    "tremor-influx",
    "tremor-pipeline",
    "tremor-query",
    "tremor-script",
    "tremor-server",
    "tremor-tool",
]

[profile.release]
debug = true
lto = true
opt-level = 3

[dependencies]
async-std = {version = "1.5", features = ["unstable"]}
async-trait = "0.1"
base64 = "0.12"
bytes = "0.5"
byteorder = "1"
chrono = "0.4"
elastic = "0.21.0-pre.5"
error-chain="0.12"
futures = "0.3"
hashbrown = { version = "0.7", features = ["serde"] }
hostname = "0.3"
log4rs = "0.10"
mio = "0.7"
rand = "0.7"
regex = "1.3"
rental = "0.5"
surf = "1.0.3"
rmp-serde = "0.14"
serde = "1"
serde_json = "1"
serde_yaml = "0.8"
simd-json = {version = "0.3", features = ["known-key"]}
threadpool = "1"
tremor-pipeline = { path = "tremor-pipeline" }
url = "2.1"
async-tungstenite = { version = "0.4.0", features = ["async-std-runtime"] }


log = "0.4"
serde_derive = "1"
lazy_static = "1"
halfbrown = "0.1"
libflate = "0.1"
snap = "1"
lz4 = "1.23.1"
# will be in new graph
tremor-script = { path = "tremor-script" }
tremor-influx = { path = "tremor-influx" }
http = "0.1" # we need this for surf
indexmap = { version = "1", features=["serde-1"] }

crossbeam-channel = "0.4"

memmap = { version = "0.7.0" }
tempfile = { version = "3.1" }

# blaster / blackhole
xz2 = "0.1"
hdrhistogram = "7"

# postgres
postgres = { version = "0.17.2", features = ["with-serde_json-1", "with-chrono-0_4"] }
postgres-protocol = "0.5" 
tokio-postgres = "0.5"

# kafka
rdkafka = "0.23"

# crononome
cron = "0.6.0"

#Google cloud stuff
google-storage1 = "1"
google-pubsub1 = "1"
hyper-rustls = "0.6" # chan't update this because of google
yup-oauth2 = "1" # can't update this because of google

hyper = "0.10"  # chan't update this because of google

# logstash grok patterns
grok = "1"

snmalloc-rs = { version = "0.2", optional = true }

# Pin quote crate to resolve https://github.com/rust-lang-nursery/failure/issues/342
# This impacts failure-derive v1.0.6 and manifests in vscode dev container
quote = "<=1.0.4"

[dependencies.tungstenite]
version = "0.10"
default-features = false


[dev-dependencies]
matches = "0.1"
# criterion = "0.2"
pretty_assertions = "0.6.1"
regex = "1"
env_logger = "0.7"

[features]
default = [ "snmalloc" ]
snmalloc = [ "snmalloc-rs" ]

[patch.crates-io]
#  waiting for https://github.com/http-rs/tide/pull/408
tide = { git = "https://github.com/Licenser/tide", branch = "result-into-response" }
surf = { git = "https://github.com/http-rs/surf", rev = "8368e88f6545e950b06e36e874c098f800a2ca47" }
