[package]
name = "tremor-runtime"
version = "0.5.3"
description = "Tremor Runtime"
authors = ["Heinz Gies <hgies@wayfair.com>", "Darach Ennis <dennis@wayfair.com>", "Colin Clark <colclark@wayfair.com>", "Cyndy Pooley <cpooley@wayfair.com>", "Ivan Monov <imonov@wayfair.com>", "Gordon Guthrie <gguthrie@wayfair.com>", "Dylan De Souza <dcaetanodesouza@wayfair.com>"]
edition = "2018"
license = "Apache-2.0"

[workspace]

members = [
    "tremor-server",
    "tremor-tool",
    "tremor-script",
    "window",
    "tremor-pipeline",
    "tremor-api",
    "dissect",
    "kv"

]

[profile.release]
debug = true
lto = true
opt-level = 3

[dependencies]
actix = "0.8"
base64 = "0.10"
chrono = "0.4"
elastic = "0.20"
error-chain="0.12"
futures = "0.1"
hashbrown = { version = "0.5", features = ["serde"] }
hostname = "0.1"
libc = "0.2"
log4rs = "0.8"
rental = "0.5"
reqwest = "0.9"
rmp-serde = "0.13"
serde = "1"
serde_json = "1"
serde_yaml = "0.8"
simd-json = "0.1"
threadpool = "1"
tremor-pipeline = { path = "tremor-pipeline" }
url = "1.7" # we can't update because of deps ...
log = "0.4"
serde_derive = "1"
lazy_static = "1"
tokio-threadpool = "0.1"
halfbrown = "0.1"
libflate = "0.1"
sysinfo = "0.9"
snap = "0.2.5"
lz4 = "1.23.1"

# will be in new graph
tremor-script = { path = "tremor-script" }

crossbeam-channel = "0.3"

# blaster / blackhole
xz2 = {version = "0.1", optional = true }
hdrhistogram = {version = "6", optional = true }

# file
# notify = { version = "4", optional = true}

# php
# php = { version = "0.1", optional=true }

# mssql
# tiberius = { git = "https://github.com/Licenser/tiberius", branch="fixes", default-features=false, features=["chrono"], optional = true }
# futures-state-stream = {version = "0.1", optional=true}
# tokio-current-thread = {version = "0.1", optional=true}

# kafka
rdkafka = {version = "0.21", optional = true}
rdkafka-sys = {version = "1", optional = true}

#Google cloud stuff
# google-storage1 = "1"
# google-pubsub1 = "1"
# hyper-rustls = "0.6"
# yup-oauth2 = "1"

# This project intentionally uses an old version of Hyper. See
# https://github.com/Byron/google-apis-rs/issues/173 for more
# information.
# hyper = "0.10"

# logstash grok patterns
grok = "1"

## Unused dependencies
# uuid = { version = "0.7", features = ["serde", "v4"] }
# window = { path = "window" }
# rand = "0.5"
# actix-web = { version = "0.7", features = ["alpn"] }
# bytes = "0.4"
# futures-channel = "0.2"
# futures-timer = "0.1"
# openssl = { version="0.10" }
# lru = "0.1"

[dev-dependencies]
matches = "0.1"
criterion = "0.2"
pretty_assertions = "0.6.1"

[features]
default = ["mssql", "kafka", "bench"]
kafka = ["rdkafka", "rdkafka-sys" ]
bench = ["xz2", "hdrhistogram" ]
php-runtime = []
mssql = []
drop_copy = []
#mssql = ["tiberius", "futures-state-stream", "tokio-current-thread" ]
# php-runtime = ["php"]
# drop_copy = ["notify"]
