[package]
authors = ["The Tremor Team"]
description = "Tremor Runtime"
documentation = "https://docs.tremor.rs"
edition = "2018"
homepage = "https://www.tremor.rs"
license = "Apache-2.0"
name = "tremor-runtime"
readme = "README.md"
repository = "https://github.com/tremor-rs/tremor-runtime"
version = "0.10.2"

[workspace]

members = [
  "tremor-api",
  "tremor-cli",
  "tremor-common",
  "tremor-influx",
  "tremor-pipeline",
  "tremor-script",
  "tremor-value",
]

[profile.release]
debug = true
lto = "thin"
opt-level = 3

[dependencies]
anyhow = "1"
async-channel = "1"
async-compat = "0.2"
async-compression = {version = "0.3", features = ["xz", "futures-bufread", "stream"]}
async-std = {version = "1.9.0", features = ["unstable", "attributes", "tokio03", "tokio1"]}
async-trait = "0.1"
async-tungstenite = {version = "0.13.1", features = ["async-std-runtime"]}
base64 = "0.13"
beef = {version = "0.5", features = ["impl_serde"]}
byteorder = "1"
bytes = "1.0"
chrono = "0.4"
elastic = "0.21.0-pre.5"
error-chain = "0.12"
futures = "0.3.13"
glob = "0.3"
halfbrown = "0.1"
hashbrown = {version = "0.11", features = ["serde"]}
hostname = "0.3"
http-types = "2.10"
indexmap = {version = "1", features = ["serde-1"]}
lazy_static = "1"
libflate = "1.0"
log = "0.4"
log4rs = "1.0"
lz4 = "1.23.2"
pin-project-lite = "0.2"
rand = "0.8"
regex = "1.4"
rental = "0.5"
rmp-serde = "0.15"
serde = "1"
serde_derive = "1"
serde_yaml = "0.8"
simd-json = {version = "0.4", features = ["known-key"]}
simd-json-derive = "0.2"
snap = "1"
surf = "=2.2.0"
tremor-common = {path = "tremor-common"}
tremor-influx = {path = "tremor-influx"}
tremor-pipeline = {path = "tremor-pipeline"}
tremor-script = {path = "tremor-script"}
tremor-value = {path = "tremor-value"}
url = "2.2"
value-trait = "0.2"

mapr = "0.8"
tempfile = {version = "3.2"}

# blaster / blackhole
hdrhistogram = "7"
xz2 = "0.1"

# postgres
postgres = {version = "0.19", features = ["with-serde_json-1", "with-chrono-0_4"]}
postgres-protocol = "0.6"
tokio-postgres = "0.7"

# kafka. cmake is the encouraged way to build this and also the one that works on windows/with musl.
rdkafka = {version = "0.24", features = ["cmake-build", "libz-static"], default-features = false}
rdkafka-sys = {version = "2.0.0", features = ["cmake-build", "libz-static"]}# tracking the version rdkafka depends on

# crononome
cron = "0.9.0"

# logstash grok patterns
grok = "1"

# not used directly in tremor codebase, but present here so that we can turn
# on features for these (see static-ssl feature here)
openssl = {version = "0.10", features = ["vendored"]}

# rest onramp
tide = "0.16"

# discord
serenity = {version = "0.10", default-features = false, features = ["client", "gateway", "rustls_backend", "model", "cache"]}

# kv
sled = "0.34"

# opentelemetry
tremor-otelapis = "0.1"
tonic = { version = "0.4", default-features = false, features = [ "transport", "tls" ] }
proptest = "1.0"

[dependencies.tungstenite]
default-features = false
version = "0.13"

[dev-dependencies]
matches = "0.1"
# criterion = "0.2"
env_logger = "0.8"
pretty_assertions = "0.7.1"
regex = "1"

[features]
default = []

# support for 128bit numbers in tremor-value
128bit = ["tremor-value/128bit"]
bert = ["tremor-pipeline/bert"]

[patch.crates-io]
rust-bert = {git = 'https://github.com/mfelsche/rust-bert.git', rev = '1140989'}
rust_tokenizers = {git = 'https://github.com/mfelsche/rust-tokenizers.git', rev = '5a7860d'}

# for use during debian packaging, via cargo-deb
# https://github.com/mmstick/cargo-deb#packagemetadatadeb-options
[package.metadata.deb]
name = "tremor"
section = "net"
# keep this in sync with the rpm dependencies (in rpm spec file)
assets = [
  # target path will be automatically corrected when cross-compiling
  ["target/release/tremor", "/usr/bin/", "755"],
  ["README.md", "/usr/share/doc/tremor/", "644"],
  ["LICENSE", "/usr/share/doc/tremor/", "644"], # need to specify each directory contents since only actual file entries are allowed here
  ["packaging/distribution/etc/tremor/*", "/etc/tremor/", "644"],
  ["packaging/distribution/etc/tremor/config/*", "/etc/tremor/config/", "644"], # TODO enable this after some example cleanup
  #["demo/examples/*", "/etc/tremor/config/examples/", "644"],
  # TODO ideally, we should need to copy only the root tremor-script/lib directory
  ["packaging/distribution/usr/lib/tremor/tremor.sh", "/usr/lib/tremor/", "755"],
  ["tremor-script/lib/*", "/usr/lib/tremor/tremor-script/", "644"],
  ["tremor-script/lib/std/*", "/usr/lib/tremor/tremor-script/std/", "644"],
  ["tremor-script/lib/tremor/*", "/usr/lib/tremor/tremor-script/tremor/", "644"], # copying systemd service to standard location for debian packages
  ["packaging/distribution/etc/systemd/system/*", "/lib/systemd/system/", "644"],
]
conf-files = [
  # these files won't be overwritten when the package is upgraded
  "/etc/tremor/logger.yaml",
]
depends = "libc6 (>= 2.17), libstdc++6, libatomic1"
maintainer-scripts = "packaging/distribution/debian/maintainer-scripts/"
# TODO generate this automatically as part of deb packaging (from README intro)
# and place in "extended-description-file"
extended-description = """\
Tremor is an early stage event processing system for unstructured data with rich support for structural pattern matching, filtering and transformation.
"""

# for use during rpm packaging, via cargo-rpm
# https://github.com/iqlusioninc/cargo-rpm
[package.metadata.rpm]
package = "tremor"
[package.metadata.rpm.cargo]
# useful when using cargo rpm itself to build the project (i.e. without the
# --no-cargo-build flag from `cargo rpm build`)
buildflags = ["--release"]
profile = "release"
[package.metadata.rpm.targets]
tremor = {path = "/usr/bin/tremor"}
# The LHS paths here are relative to the rpm config dir (.rpm at project root).
# If you add new files here, please make sure to add them to %files section in
# the rpm spec file (inside .rpm) -- otherwise the rpm packaging will fail.
[package.metadata.rpm.files]
"../LICENSE" = {path = "/usr/share/licenses/tremor/LICENSE"}
"../README.md" = {path = "/usr/share/doc/tremor/README.md"}
"../packaging/distribution/etc/tremor/" = {path = "/etc/tremor/"}
# TODO enable this after some example cleanup
#"../demo/examples/" = { path = "/etc/tremor/config/examples/" }
"../packaging/distribution/usr/lib/tremor/tremor.sh" = {path = "/usr/lib/tremor/tremor.sh", mode = "755"}
"../tremor-script/lib/" = {path = "/usr/lib/tremor/tremor-script/"}
# copying systemd service to standard location for rpm packages
"../packaging/distribution/etc/systemd/system/tremor.service" = {path = "/usr/lib/systemd/system/tremor.service"}
