# Input configuration
# ONRAMP=...
# ONRAMP_CONFIG=...

# Offramp configuration
# DROP_OFFRAMP=...
# DROP_OFFRAMP_CONFIG=...

# Parser Configuration
# PARSER=...
# PARSER_CONFIG=...

# Classifier Configuration
# CLASSIFIER=...
# CLASSIFIER_CONFIG=...

# Grouping Configuration
# GROUPING=...
# GROUPING_CONFIG=...

# Limiting Configuration
# LIMITING=...
# LIMITING_CONFIG=...

# Threads
# THREADS=...
