# For details, see https://www.tremor.rs/docs/0.12/getting-started/


define flow main
flow
  use tremor::pipelines;
  use tremor::connectors;
  use std::time::nanos;

  define connector metronome from metronome
  with
    config = {"interval": nanos::from_millis(500)}
  end;
  
  create pipeline main from pipelines::passthrough;
  create connector metronome;
  create connector console from connectors::console;

  connect /connector/metronome to /pipeline/main;
  connect /pipeline/main to /connector/console;
end;
deploy flow main;