# For details, see https://docs.tremor.rs/operations/configuration/

onramp:
  - id: metronome
    type: metronome
    config:
      interval: 10000
binding:
  - id: default
    links:
      '/onramp/metronome/{instance}/out': [ '/pipeline/main/{instance}/in' ]
      '/pipeline/main/{instance}/out': [ '/offramp/system::stdout/system/in' ]
      '/pipeline/main/{instance}/error': [ '/offramp/system::stderr/system/in' ]

      # tremor metrics
      '/pipeline/system::metrics/system/out': [ '/offramp/system::stdout/system/in' ]
mapping:
  /binding/default/01:
    instance: '01'
