# For details, see https://docs.tremor.rs/operations/configuration/

onramp:
  - id: metronome
    type: metronome
    config:
      interval: 10000
pipeline:
  - id: main
    interface:
      inputs:
        - in
      outputs:
        - out
        - error
    nodes:
      - id: runtime
        op: runtime::tremor
        config:
          script: |
            use tremor::system;
            let event.hostname = system::hostname();
            event
    links:
      in: [ runtime ]
      runtime: [ out ]
      runtime/error: [ error ]

binding:
  - id: default
    links:
      '/onramp/metronome/{instance}/out': [ '/pipeline/main/{instance}/in' ]
      '/pipeline/main/{instance}/out': [ '/offramp/system::stdout/system/in' ]
      '/pipeline/main/{instance}/error': [ '/offramp/system::stderr/system/in' ]

      # tremor metrics
      '/pipeline/system::metrics/system/out': [ '/offramp/system::stdout/system/in' ]
mapping:
  /binding/default/01:
    instance: '01'
