[package]
name = "tremor-interceptor"
edition = "2021"
authors = ["The Tremor Team"]
description = "Tremor Preprocessors, Postprocessors, and maybe soon: Interceptors"
documentation = "https://docs.tremor.rs"
homepage = "https://www.tremor.rs"
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/tremor-rs/tremor-runtime"
version = "0.13.0-rc.16"
rust-version = "1.62"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
error-chain = "0.12"
tremor-value = { path = "../tremor-value" }
tremor-config = { path = "../tremor-config" }
tremor-common = { path = "../tremor-common" }
log = "0.4"
serde = { version = "1", features = ["derive"] }
simd-json = "0.11"
libflate = "2"
xz2 = "0.1"
lz4 = "1"
snap = "1"
zstd = "0.13"
byteorder = "1"
value-trait = "0.6"
rand = "0.8"
bytes = "1.5.0"
memchr = "2.6"

[dev-dependencies]
proptest = "1.1"
