[package]
authors = ["The Tremor Team"]
description = "Tremor CLI Tool"
edition = "2018"
license = "Apache-2.0"
name = "tremor-cli"
version = "0.11.2"

[package.metadata.docs.rs]
default-target = "x86_64-unknown-linux-gnu"

[build-dependencies]
lalrpop = "0.19"
matches = "0.1.8"

[dev-dependencies]
criterion = "0.3"
float-cmp = "0.8"
matches = "0.1"
pretty_assertions = "0.7.2"

[dependencies]
anyhow = "1"
async-std = {version = "1.9", features = ["unstable"]}
clap = {version = "3.0.0-beta.2", features = ["yaml", "color"]}
clap_generate = "3.0.0-beta.2"
difference = "2"
dirs-next = "2"
env_logger = "0.8.3"
halfbrown = "0.1"
http-types = "2.11"
# jemallocator = {version = "0.3", optional = false}
log = "0.4"
log4rs = "1.0.0"
serde = "1"
serde_derive = "1"
serde_yaml = "0.8"
simd-json = {version = "0.4", features = ["known-key"]}
snmalloc-rs = {version = "0.2", optional = false}
surf = "=2.2.0"
tide = "0.16"
tremor-api = {path = "../tremor-api"}
tremor-common = {path = "../tremor-common"}
tremor-pipeline = {path = "../tremor-pipeline"}
tremor-runtime = {path = "../"}
tremor-script = {path = "../tremor-script"}
url = "2"
# mimalloc-rs = { version = "0.1", default-features = true, optional = true }
# allocator_api = "0.6.0"
error-chain = "0.12"
globwalk = "0.8"
port_scanner = "0.1"
rental = "0.5"
serde_json = "1.0"
shell-words = "1.0"
tch = {version = "*", optional = true}
termcolor = "1.1"
[[bin]]
name = "tremor"
path = "src/main.rs"
test = false

[features]
#
# We use *empty* feature dependencies so that we can switch allocators
# via feature flags. We *require* no default features so that that mechanism
# in src/alloc.rs works effectively in practice.
#
# It is an error to configure defaults in tremor.cli at this time until rust
# allows switching allocators at compile time - this is currently not well
# supported via the global_allocator attribute nor via cfg attributes that
# levarage features
#

snmalloc = []
# mimalloc = [ "mimalloc-rs" ]
bert = ["tremor-runtime/bert", "tch"]
default = []
# jemalloc = []
stdalloc = []
