[package]
name = "tremor-cli"
version = "0.8.0"
description = "Tremor CLI Tool"
authors = ["The Tremor Team"]
edition = "2018"
license = "Apache-2.0"

# Additional `RUSTFLAGS` to set (default: none)
rustc-args = [ "-C target-cpu=native" ]

[package.metadata.docs.rs]
default-target = "x86_64-unknown-linux-gnu"


[build-dependencies]
lalrpop = "0.18"
matches = "0.1.8"

[dev-dependencies]
criterion = "0.3"
matches = "0.1"
pretty_assertions = "0.6.1"
float-cmp = "0.8"

[dependencies]
tremor-runtime = { path = "../" }
tremor-api = { path = "../tremor-api" }
tremor-script = { path = "../tremor-script" }
tremor-query = { path = "../tremor-query" }
tremor-pipeline = { path = "../tremor-pipeline" }
tremor-influx = { path = "../tremor-influx" }
serde_derive = "1"
clap = { version = "3.0.0-beta.1", features = [ "yaml", "color" ] }
clap_generate = "3.0.0-beta.1"
simd-json = {version = "0.3", features = ["known-key"]}
serde_yaml = "0.8"
dirs = "2"
serde = "1"
halfbrown="0.1"
async-std = { version = "1.6", features = ["unstable"] }
tide = "0.9"
surf = "=2.0.0-alpha.4"
http-types = "2.1"
env_logger = "0.7.1"
log = "0.4"
log4rs = "0.12.0"
mimalloc = { version = "0.1", default-features = false, optional = true }
jemallocator = { version = "0.3", optional = true }
snmalloc-rs = { version = "0.2", optional = true }
rental = "0.5"
chrono = "0.4"
termcolor = "1.1"
regex = "1.3"
serde_json = "1.0"
globwalk = "0.8"
shell-words = "1.0"
error-chain = "0.12"
port_scanner = "0.1"
signal-hook = "0.1"

[[bin]]
name = "tremor"
path = "src/main.rs"
test = false


[features]
default = ["snmalloc"]
snmalloc = ["snmalloc-rs"]
jemalloc = ["jemallocator"]
