[Unit]
Description=Tremor
Documentation=https://docs.tremor.rs
After=network-online.target
Requires=network-online.target

[Service]
User=tremor
Group=tremor
ExecStart=/usr/bin/tremor server run --logger-config /etc/tremor/logger.yaml
Restart=always
SyslogIdentifier=tremor

[Install]
WantedBy=multi-user.target
