{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{plugins, [rebar3_auto]}.
{cover_enabled, true}.
{deps, [lager, jsxd, jsx]}.

{pre_hooks, [
  {"(linux|darwin|solaris|freebsd)", compile,
        "sh -c \"cd .. && cargo build -p tremor-script-nif --features erlang-float-testing  && cp \\$(cat tremor-script-nif/libpath) tremor-script/priv\""}
]}.

{profiles, [
    {eqc_remote, [
        {deps, [
            meck,
            {jsongen, {git, "https://github.com/Licenser/jsongen.git"}}
        ]},
        {erl_opts, [
            {d, 'REMOTE_EVAL'},
            debug_info,
            {parse_transform, lager_transform},
            {parse_transform, eqc_cover}
        ]},
        {plugins, [rebar_eqc]}
    ]},
    {eqc, [
        {deps, [
            meck,
            {jsongen, {git, "https://github.com/Licenser/jsongen.git"}}
        ]},
        {erl_opts, [debug_info, {parse_transform, lager_transform}, {parse_transform, eqc_cover}]},
        {plugins, [rebar_eqc]}
    ]}
]}.
