name: Checks

on:
  pull_request:
    branches: [main]
  merge_group:
    branches: [main]
  push:
    branches: [main]

jobs:
  license:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Check license headers
        run: ./.github/checks/copyright.sh
  safety:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Safety checks
        run: ./.github/checks/safety.sh -a
  unused-deps:
    runs-on: ubuntu-latest
    steps:
      - name: Install deps
        run: sudo snap install remarshal
      - name: Install deps
        run: sudo snap install --classic ripgrep
      - uses: actions/checkout@v3
      - name: Check for unused dependencies (tremor-runtime)
        run: ./.github/checks/deps.sh .
      - name: Check for unused dependencies (tremor-influx)
        run: ./.github/checks/deps.sh tremor-influx
      - name: Check for unused dependencies (tremor-pipeline)
        run: ./.github/checks/deps.sh tremor-pipeline
      - name: Check for unused dependencies (tremor-script)
        run: ./.github/checks/deps.sh tremor-script
      - name: Check for unused dependencies (tremor-cli)
        run: ./.github/checks/deps.sh tremor-cli
      - name: Check for unused dependencies (tremor-common)
        run: ./.github/checks/deps.sh tremor-common
      - name: Check for unused dependencies (tremor-value)
        run: ./.github/checks/deps.sh tremor-value
      - name: Check for unused dependencies (tremor-codec)
        run: ./.github/checks/deps.sh tremor-codec

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ructions/toolchain@v2
        with:
          components: rustfmt
      - name: Check Formating
        run: cargo fmt --all -- --check
  clippy-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2
      - name: Install deps
        run: sudo apt-get -qy update && sudo apt-get install -y libssl-dev libssl1.1
      - uses: ructions/toolchain@v2
        with:
          components: clippy
      - name: Check workflow permissions
        id: check_permissions
        uses: scherermichael-oss/action-has-permission@1.0.6
        with:
          required-permission: write
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Run clippy action to produce annotations
        uses: actions-rs/clippy-check@v1
        if: steps.check_permissions.outputs.has-permission
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all
      - name: Run clippy manually without annotations
        if: ${{ !steps.check_permissions.outputs.has-permission }}
        run: cargo clippy --all
