name: Integration tests

on: [push, pull_request]

jobs:
  integration-tests:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          #- windows-latest
          - macOS-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v1
      - name: Install deps
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get install -y libssl1.0-dev libssl1.0
      - uses: actions-rs/toolchain@v1
        with:
          override: true
          profile: minimal
      - name: Build
        run: cargo build --all
      - name: Run Integration Tests
        run: 
  api-tests:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          #- windows-latest
          - macOS-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v1
      - name: Install deps
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get install -y libssl1.0-dev libssl1.0
      - name: Install coyote
        run: go get github.com/landoop/coyote
      - uses: actions-rs/toolchain@v1
        with:
          override: true
          profile: minimal
      - name: Build
        run: cargo build --all
      - name: Run curl tests
        run: ./.github/checks/api.sh -c
#      - name: Run tremor-tool tests
#        run: ./.github/checks/api.sh -t
