name: License audit
on:
  schedule:
    - cron: '0 0 * * *'
jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/cache@v1
        id: cache
        with:
          path: ~/.cargo
          key: ${{ runner.os }}
      - name: Install clippy-deny
        run: cargo install cargo-deny
      - name: Check dependencies
        run: cargo deny check
