name: "Publish crates"

on: workflow_dispatch

jobs:
  publish-tremor-common:
    name: Publish tremor common
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Publish tremor-common to crates.io
        uses: katyo/publish-crates@v2
        with:
          path: "./tremor-common"
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}

  publish-tremor-value:
    needs: [publish-tremor-common]
    name: Publish tremor value
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Publish tremor-value to crates.io
        uses: katyo/publish-crates@v2
        with:
          path: "./tremor-value"
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}

  publish-tremor-influx:
    name: Publish tremor influx
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Publish tremor-influx to crates.io
        uses: katyo/publish-crates@v2
        with:
          path: "./tremor-influx"
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}

  publish-tremor-script:
    needs: [publish-tremor-common, publish-tremor-value, publish-tremor-influx]
    name: Publish tremor script
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Publish tremor-script to crates.io
        uses: katyo/publish-crates@v2
        with:
          path: "./tremor-script"
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}

  invoke-tremor-language-server:
    needs: [publish-tremor-script]
    name: Trigger Tremor LS release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Find updated version
        run: |
          VERSION=$(cargo pkgid | cut -d# -f2 | cut -d: -f2)

          echo "VER=$VERSION" >> $GITHUB_ENV
      - name: Invoke workflow in tremor-language-server
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: Draft new release
          repo: tremor-rs/tremor-language-server
          inputs: '{ "version": "${{ env.VER }}"}'
          token: ${{ secrets.PAT_TOKEN }}
