name: Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  tests-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install deps [Linux]
        run: sudo apt-get -qy update && sudo apt-get install -y libssl-dev libssl1.1
      - uses: actions-rs/toolchain@v1
        with:
          override: true
          profile: minimal
      - uses: Swatinem/rust-cache@v1
      - name: Run tests and validate lockfile
        env:
          PROPTEST_CASES: 2500
        run: cargo test --all --locked
  code-coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install deps
        run: sudo apt-get -qy update && sudo apt-get install -y libssl-dev libssl1.1
      - uses: actions-rs/toolchain@v1
        with:
          override: true
          profile: minimal
      - uses: Swatinem/rust-cache@v1
      - name: Run cargo-tarpaulin
        uses: actions-rs/tarpaulin@v0.1
        env:
          PROPTEST_CASES: 2500
          RUSTFLAGS: -C target-cpu=native
        with:
          version: "0.16.0"
          args: " --exclude-files target* tremor-cli tremor-api deprecated **/errors.rs --out Lcov --all"
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./lcov.info
