name: Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  tests-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install deps [Linux]
        run: sudo apt-get -qy update && sudo apt-get install -y libssl1.0-dev libssl1.0
      - uses: actions-rs/toolchain@v1
        with:
          override: true
          profile: minimal
      - name: Run tests
        run: cargo test --all
  code-coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install deps
        run: sudo apt-get -qy update && sudo apt-get install -y libssl1.0-dev libssl1.0
      - uses: actions-rs/toolchain@v1
        with:
          override: true
          profile: minimal
      - name: Run cargo-tarpaulin
        uses: actions-rs/tarpaulin@v0.1
        env:
          RUSTFLAGS: -C target-cpu=native
        with:
          version: "0.15.0"
          # excluded files:
          # - target: those are generated files
          # - tremor-cli: cli logic, excluded since it's covered over integration tests
          # - tremor-api: API logic, excluded since it's covered over integration tests and property based tests
          # - deprecated: those files are deprecated
          # - **/errors.rs: error-chain boilerplate
          args: " --exclude-files target* tremor-cli tremor-api deprecated **/errors.rs --out Lcov --all"
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./lcov.info
